*.iml
.gradle
.idea
/gradle
/idea
/release
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
build_file_checksums.ser
output.json

#postscript
keystore
#release.properties
debuglocal.properties

/app/src/built_in_site_info
/app/src/logging
/app/main/release

!.gitkeep